@import '/node_modules/bulma/bulma.sass';

.header {
  padding-bottom: 30px;
}

.navbar {
  background-color: transparent;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

.search-results {
  margin-top: 30px;
  margin-bottom: 30px;
}

.search-results-link {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 4;
}

.footer {
  margin-top: 40px;
}
